{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "modules": "auto",
                "useBuiltIns": "usage",
                "include": ["es.array.map"],
                "exclude":[
                    "es.function.name",
                    "es.array.slice",
                    "es.array.concat",
                    "es.string.sub",
                    "es.array.sort",
                    "es.math.imul",
                    "es.array.from",
                    "es.string.iterator",
                    "es.symbol",
                    "es.symbol.description",
                    "es.object.to-string",
                    "es.symbol.iterator",
                    "es.array.iterator",
                    "web.dom-collections.iterator",
                    "es.string.code-point-at",
                    "es.string.from-code-point",
                    "es.array.join",
                    "es.regexp.exec",
                    "es.string.split",
                    "es.regexp.to-string",
                    "es.string.replace"
                ],
                "targets": {
                    "ie": "9"
                },
                "corejs": "3"
            }
        ]
    ]
}
